/*geral*/
body {
  /*background: linear-gradient(to right, #198754, #28a745);*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(25, 135, 84, 0.8);
  border-color: #198754;
}

/*inicial*/
.home-bg {
  height: 100vh;
  background: linear-gradient(to right, #198754, #28a745);
  /*background-color: green;*/
  /* background: url("supermercado.jpg") no-repeat center center/cover; */
}

.home-card {
  max-width: 420px;
  background: #fff;
  border: 2px solid #e9ecef;
}

.home-card h2 {
  color: #198754;
  font-weight: bold;
}

/*login*/
.login-card {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #198754;
}

.btn-login {
  background: #198754;
  border: none;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.btn-login:hover {
  background: #157347;
}

/*rodapé login*/
.footer-text {
  font-size: 0.9rem;
  color: #666;
  margin-top: 1.5rem;
}

/*tabela e botões */
.table thead {
  background-color: #198754;
  color: #fff;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

/*vendas*/
.container h2 {
  color: #198754;
  font-weight: bold;
}

form .btn-success {
  background-color: #198754;
  border: none;
  transition: 0.3s;
}

form .btn-success:hover {
  background-color: #157347;
}

/* extra */
.tela-inicial h1, 
.tela-inicial p {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #198754;
}

.logo {
  font-size: 4rem;
  color: #198754;
}

